<div class="container">
  <div class="user-container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <h3 class="panel-title">All Users</h3>
            <li>
              <button class="glyphicon glyphicon-plus" (click)="addUser()"></button><span> Add new user</span>
            </li>
          </div>

        </div>
      </div>

      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Details / Delete / Update</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of userList; index as ind">
            <th scope="row">{{ind}}</th>
            <td>{{item.name}}</td>
            <td>{{item.username}}</td>
            <td>{{item.role}}</td>
            <td *ngIf="item.role === 'USER'">
              <button class="glyphicon glyphicon-list" (click)="detail(item)" style="margin-left: 10px; padding: 10px"></button>
              <button class="glyphicon glyphicon-trash" (click)="deleteUser(item)" style="margin-left: 10px; padding: 10px"></button>
              <button class="glyphicon glyphicon-pencil" (click)="updateUser(item)" style="margin-left: 10px; padding: 10px"></button>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
